<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>新增工时记录</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">新增
        <small>工时</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_performance.html" %}
        <li class="breadcrumb-item active">新增</li>
    </ol>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>新增工时记录</h3>
            {% include "message.html" %}
            <form name="addManHourForm" id="addManHourForm" action="{% url 'performance:add_man_hour' %}" method="post">
                {% csrf_token %}
                <div class="control-group form-group">
                    <div class="controls">
                        <label>岗位:</label>
                        <select class="form-control" id="position_id" name="position_id" required>
                            <option value=""></option>
                            {% for position in position_list %}
                                <option value="{{ position.id }}">{{ position.name }}</option>
                            {% endfor %}
                        </select>
                        <p class="help-block" id="position_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group" id="man-hour-loading"></div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>工时项目:</label>
                        <select class="form-control" id="man_hour_id" name="man_hour_id" required>
                        </select>
                        <p class="help-block" id="man_hour_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>开始时间:</label>
                        <input type="datetime-local" class="form-control" id="start_datetime" name="start_datetime"
                               placeholder="请选择开始时间"
                               required data-validation-required-message="Please enter a datetime.">
                        <p class="help-block" id="start_datetime_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>结束时间:</label>
                        <input type="datetime-local" class="form-control" id="end_datetime" name="end_datetime"
                               placeholder="请选择结束时间"
                               required data-validation-required-message="Please enter a datetime.">
                        <p class="help-block" id="end_datetime_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>审核室:</label>
                        <select class="form-control" id="verifier_team_id" name="verifier_team_id" required>
                            {% for team in team_list %}
                                {% if team.name == verifier_team_name %}
                                    <option selected value="{{ team.id }}">{{ team.name }}</option>
                                {% else %}
                                    <option value="{{ team.id }}">{{ team.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <p class="help-block" id="verifier_team_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>备注(可选):</label>
                        <textarea class="form-control" id="remark" name="remark" placeholder="请填写备注"
                                  data-validation-required-message="Please enter remark."></textarea>
                        <p class="help-block" id="remark_validate"></p>
                    </div>
                </div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" id="submit">提交</button>
            </form>
        </div>
        <div class="col-lg-4 mb-4">
            <h3>Tips</h3>
            <p>
                <abbr title="查询审核状态">查询审核状态</abbr>
                <br>
                请点击<a href="{% url 'performance:view_man_hour' %}">此处</a>
            </p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

<!--$.ajax({-->
<!--    // 1. 数据提交url，与form表单的action属性一致-->
<!--    url:'',-->
<!--    // 2. 指定当前请求方式-->
<!--    type: 'post',-->
<!--    // 3. 提交的数据，{1标签id:$('#1标签id').val(),2标签id:$('#2标签id').val()}-->
<!--    data: {},-->
<!--    // 4. 异步提交回调函数，data就是异步提交的返回结果，将异步回调函数的结果通过DOM操作渲染到第三个input框中：(3标签id).val(data)-->
<!--    success:function(data){-->
<!--            $(3标签id).val(data)-->
<!--        }-->
<!--    })-->

<script>
$('#position_id').change(function(){
    var position_id = $('#position_id').val();
    var manHourDiv = $('#man_hour_id'); //找到一个DOM节点
    if (position_id == '') {
        manHourDiv.empty();
        return;
    }
    $('#man-hour-loading').html('工时项目加载中...');
    $.ajax({
        type: "POST",
        url: "/performance/get_man_hour_item/",
        async : false,
        timeout: 5000,
        data: {
            'position_id': position_id,
            'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val()
        },
        dataType: "json",
        success: function(data){
            $('#man-hour-loading').html('');
            manHourDiv.empty();
            var content = "";
            for (var i = 0; i <= data.length - 1; i++) {
                content += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
            }
            manHourDiv.append(content);
        },
        complete : function(XMLHttpRequest,status) { //请求完成后最终执行参数
            if(status == 'timeout') { //超时,status还有success,error等值的情况
                return;
            } else if(status == 'error') {
                return;
            } else if(status == 'success') {
                return;
            }
        },
    });
});

$.fn.setNow = function (onlyBlank) {
  var now = new Date($.now())
    , year
    , month
    , date
    , hours
    , minutes
    , seconds
    , formattedDateTime
    ;

  year = now.getFullYear();
  month = (now.getMonth()+1).toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
  date = now.getDate().toString().length === 1 ? '0' + now.getDate().toString() : now.getDate();
  hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
  minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();
  seconds = now.getSeconds().toString().length === 1 ? '0' + now.getSeconds().toString() : now.getSeconds();

  formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes;

  if ( onlyBlank === true && $(this).val() ) {
    return this;
  }

  $(this).val(formattedDateTime);

  return this;
}

$(function () {
    // Handler for .ready() called.
    $('input[type="datetime-local"]').setNow();

});

</script>

</body>

</html>
