<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>新增产出</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">新增
        <small>产出</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_performance.html" %}
        <li class="breadcrumb-item active">新增</li>
    </ol>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            {{ msg }}
            <h3>新增产出记录</h3>
            <form name="addOutputForm" id="addOutputForm" action="{% url 'add_output' %}" method="post">
                {% csrf_token %}
                <div class="control-group form-group">
                    <div class="controls">
                        <label>产出名称:</label>
                        <select class="form-control" id="output" name="output">
                            {% for output in output_list %}
                                {% if output.name == output_name %}
                                    <option selected value="{{ output.id }}">{{ output.name }}</option>
                                {% else %}
                                    <option value="{{ output.id }}">{{ output.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <p class="help-block" id="output_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>程度:</label>
                        <select class="form-control" id="level" name="level">
                            <option selected value="">无</option>
                            {% for level in level_list %}
                                <option value="{{ level.id }}">{{ level.name }}</option>
                            {% endfor %}
                        </select>
                        <p class="help-block" id="level_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>数量:</label>
                        <input type="number" step="0.01" class="form-control" id="quantity" name="quantity" placeholder="请输入数量"
                               required data-validation-required-message="Please enter quantity.">
                        <p class="help-block" id="quantity_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>日期:</label>
                        <input type="date" class="form-control" id="date" name="date" placeholder="请选择日期"
                               required data-validation-required-message="Please enter date.">
                        <p class="help-block" id="date_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>审核室:</label>
                        <select class="form-control" id="assigned_team" name="assigned_team">
                            {% for team in team_list %}
                                {% if team.name == assigned_team_name %}
                                    <option selected value="{{ team.id }}">{{ team.name }}</option>
                                {% else %}
                                    <option value="{{ team.id }}">{{ team.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <p class="help-block" id="assigned_team_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>备注(可选):</label>
                        <textarea class="form-control" id="remark" name="remark" placeholder="请填写备注"
                                  data-validation-required-message="Please enter remark."></textarea>
                        <p class="help-block" id="remark_validate"></p>
                    </div>
                </div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" id="submit">提交</button>
            </form>
        </div>
        <div class="col-lg-4 mb-4">
            <h3>Tips</h3>
            <p>
                <abbr title="查询审核状态">查询审核状态</abbr>
                <br>
                请点击<a href="/performance/view_output/">此处</a>
            </p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
