<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>绩效</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">绩效
        <small>管理系统</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        <li class="breadcrumb-item active">绩效管理</li>
    </ol>


    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <a href="/performance" class="list-group-item active">绩效</a>
                <a href="/performance/add_workload/" class="list-group-item">工作安排登记</a>
                <a href="/performance/view_workload/" class="list-group-item">工作安排记录查询</a>
                <a href="/performance/add_output/" class="list-group-item">产出登记</a>
                <a href="/performance/view_output/" class="list-group-item">产出记录查询</a>
                {% if request.user.is_superuser %}
                <a href="/admin" class="list-group-item">管理后台</a>
                {% endif %}
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <h2>绩效管理模块</h2>
            <hr>
            <b>更新日志：</b>
            <br><br>
            <i>版本：v1.0 日期：2021.4.3</i>
            <ul>
                <li>正式版启用</li>
                <li>修复了若干bug</li>
            </ul>
            <br>

            <i>版本：v0.2 日期：2021.3.24</i>
            <ul>
                <li>测试</li>
            </ul>
            <br>

            <i>版本：v0.1 日期：2020.12.25</i>
            <ul>
                <li>测试</li>
            </ul>
            <br>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
