<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>查询产出</title>
</head>

<body>


<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">查询
        <small>产出</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_performance.html" %}
        <li class="breadcrumb-item active">查询</li>
    </ol>

    <table class="table table-hover">
        {{ request.user.get_full_name }}的产量登记记录
        <thead>
            <tr>
                <th scope="col">记录编号</th>
                <th scope="col">产出</th>
                <th scope="col">程度</th>
                <th scope="col">日期</th>
                <th scope="col">数量</th>
                <th scope="col">指派</th>
                <th scope="col">审核状态</th>
                <th scope="col">审核人</th>
            </tr>
        </thead>
        <tbody>
            {% for output in page_output_list %}
                <tr>
                    <th scope="row">{{ output.id }}</th>
                    <td>{{ output.output.name }}</td>
                    <td>{{ output.level.name }}</td>
                    <td>{{ output.date }}</td>
                    <td>{{ output.weight_quantity }}</td>
                    <td>{{ output.assigned_team }}</td>
                    {% if output.verified == True %}
                        <td class="table-success">通过</td>
                    {% else %}
                        <td class="table-danger">未通过</td>
                    {% endif %}
                    <td>{{ output.verified_user }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    共有{{ total_output }}条记录

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'view_output' %}?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">首页</span>
            </a>
        </li>
        {% with ''|center:total_page_num as range %}
            {% for _ in range %}
                <li class="page-item">
                    {% if page_num == forloop.counter %}
                        <a class="page-link" href="{% url 'view_output' %}?page={{ page_num }}" style="pointer-events: none;cursor: default;color:gray;">{{ forloop.counter }}</a>
                    {% else %}
                        <a class="page-link" href="{% url 'view_output' %}?page={{ page_num }}">{{ forloop.counter }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        {% endwith %}
        <li class="page-item">
            <a class="page-link" href="{% url 'view_output' %}?page={{ total_page_num }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">尾页</span>
            </a>
        </li>
    </ul>

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
