{% extends 'admin/change_list.html' %}
{% load static %}

{% block content_title %}
    <h1>员工技能统计</h1>
{% endblock %}

{% block result_list %}
    <div class="results">
        <table>
            <thead>
                <tr>
                    {% for row in columns %}
                        <th>
                            <div class="text">
                                <a href="#"><strong>{{ row }}</strong></a>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in summary %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        {% for r in row %}
                            <td>{{ r }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagination %}
    <hr><br>
    <p style="color:gray">{{ summary | length }} 工作量统计记录</p>
    <hr><br>
{% endblock %}
