{% extends 'admin/change_list.html' %}
{% load static %}

{% block content_title %}
    <h1>工作量统计</h1>
{% endblock %}

{% block result_list %}
    <div class="results">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="text">
                            <a href="#">组别</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">姓名</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>办理客量</strong></a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>办理行李量</strong></a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>销售额</strong></a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>销售分</strong></a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>奖励数</strong></a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>奖励分</strong></a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>处罚数</strong></a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>处罚分</strong></a>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for row in summary %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        {% if row.user__team__name != None %}
                            <td>{{ row.user__team__name }}</td>
                        {% else %}
                            <td>未分配团队</td>
                        {% endif %}
                        <td>{{ row.user__full_name }}</td>
                        <td><strong>{{ row.number_people }}</strong></td>
                        <td><strong>{{ row.number_baggage }}</strong></td>
                        <td><strong>{{ row.sale }}</strong></td>
                        <td><strong>{{ row.workload_score }}</strong></td>
                        <td><strong>{{ row.reward_count }}</strong></td>
                        <td><strong>{{ row.reward_score }}</strong></td>
                        <td><strong>{{ row.penalty_count }}</strong></td>
                        <td><strong>{{ row.penalty_score }}</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagination %}
    <hr><br>
    <p style="color:gray">{{ summary | length }} 工作量统计记录</p>
    <hr><br>
{% endblock %}
