{% load static %}
<p>
    <abbr title="账号开通">账号开通</abbr>:
    <br>
    账号密码须由管理员审核开通，如有特殊情况，请联系管理员
</p>
<p>
    <abbr title="验证邮箱">验证邮箱</abbr>:
    <br>
    请点击<a href="/set_email_verify" style="pointer-events: none;cursor: default;color:gray;">此处</a>设置邮箱并验证，邮箱仅用于找回密码
</p>
<p>
    <abbr title="设置密保问题">设置密保问题</abbr>:
    <br>
    请点击<a href="/set_question_verify">此处</a>设置设置密保问题，仅用于找回密码，答案已加密请放心设置
</p>
<p>
    <abbr title="修改密码">修改密码</abbr>:
    <br>
    请点击<a href="/change_password">此处</a>修改密码
</p>
<p>
    <abbr title="忘记密码">忘记密码</abbr>:
    <br>
    请点击<a href="/pre_reset_password">此处</a>重设密码
</p>