<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>通知</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">查看
        <small>未读消息</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        <li class="breadcrumb-item active">未读消息</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <a href="{% url 'notice:show_notice' %}" class="list-group-item active">我的消息</a>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <h2>未读消息</h2>
            <div class="row mt-4 ml-4">
                {% if notices|length > 0 %}
                    <a href="{% url 'notice:mark_training_notice_as_read' %}" class="btn btn-warning" role="button">全部标记已读</a>
                {% else %}
                    <a href="{% url 'notice:mark_training_notice_as_read' %}" class="btn btn-warning" role="button" style="pointer-events: none; cursor: default; color:gray;">无未读消息</a>
                {% endif %}
            </div>
            <!-- 未读通知列表 -->
            <div class="row mt-2 ml-4">
                <ul class="list-group">
                    {% for notice in notices %}
                    <li class="list-group-item" id="notice_link">
                        <a href="{% url 'notice:mark_training_notice_as_read' %}?training_record_id={{ notice.target.id }}&notice_id={{ notice.id }}"
                           target="_blank">
                            <span style="color: #5897fb;">{{ notice.actor }}:&nbsp;</span>
                            <span style="color: #01a252;">{{ notice.target }}</span> {{ notice.verb }}。
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ notice.timestamp|date:"Y/m/d H:i" }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
     <style>
    #notice_link a:link {
        color: black;
    }

    #notice_link a:visited {
        color: lightgrey;
    }
    </style>
</div>
<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>