{% load static %}
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="{% static "img/favicon.png" %}" rel="icon">
<link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="{% static "css/style.css" %}" rel="stylesheet">