<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>公告</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">公告
        <small>查看</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_announcement.html" %}
        <li class="breadcrumb-item active">公告查看</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ announcement.title }}</h2>
            <hr>
            <p class="lead" style="font-size: 15px"><i>作者:{{ announcement.user }},创建时间:{{ announcement.issue_datetime }},
                {% if announcement.period_close_datetime %}
                    截止时间:{{ announcement.period_close_datetime }}
                {% else %}
                    截止时间:{{ announcement.close_datetime }}
                {% endif %}
            </i></p>
            <hr>
            <p>{{ announcement.content|linebreaksbr }}</p>
            <div class="custom-file">
                {% if announcement.template_announcement_is_active == True %}
                    {% if is_read == False %}
                        <form enctype="multipart/form-data" action="{% url 'announcement:confirm_announcement' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" class="custom-file-input" name="announcement_id" value="{{ announcement.id }}" hidden>
                            <div class="control-group form-group">
                                <div class="custom-file">
                                    {% if announcement.require_upload == True %}
                                        <input type="file" class="custom-file-input" id="file" name="file" about="点击选择上传文件" multiple="multiple" required>
                                        <label class="custom-file-label" for="file">选择文件（一次可选择多个）</label>
                                    {% else %}
                                        <input type="file" class="custom-file-input" about="无需上传" disabled="disabled">
                                        <label class="custom-file-label">选择文件（一次可选择多个）</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div align="center"><button type="submit" class="btn btn-secondary btn-block">确认</button></div>
                        </form>
                    {% else %}
                        <div align="center"><button type="button" class="btn btn-secondary btn-block" style="align:center" disabled="disabled">已确认</button></div>
                    {% endif %}
                {% else %}
                    {% if is_read == True %}
                        <div align="center"><button type="button" class="btn btn-secondary btn-block" style="align:center" disabled="disabled">过期-已确认</button></div>
                    {% else %}
                        <div align="center"><button type="button" class="btn btn-secondary btn-block" style="align:center" disabled="disabled">过期-未确认</button></div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.row -->
    <br>
    <!-- Team Members -->
    <h3>确认情况</h3>

    <div class="row">
        {% for team, member_list in target_team_member_dict.items %}
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h4 class="card-title">{{ team }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        {% for member in member_list %}
                            {% if member.read_status == True %}
                                <a href="#" class="card-text" style="color: green">{{ member.user }}</a>
                            {% else %}
                                <a href="#" class="card-text" style="color: red">{{ member.user }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <span>共{{ member_list|length }}人</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}
<script>
$(document).ready(function () {
    bsCustomFileInput.init()
})
</script>

</body>

</html>
