{% extends 'admin/change_list.html' %}
{% load static %}

{% block content_title %}
    <h1>销售统计</h1>
{% endblock %}

{% block result_list %}
    <div class="results">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="text">
                            <a href="#">组别</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">姓名</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">销售量</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>销售金额</strong></a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>销售里程</strong></a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#"><strong>销售额总计</strong></a>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for row in summary %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        {% if row.user__team__name != None %}
                            <td>{{ row.user__team__name }}</td>
                        {% else %}
                            <td>未分配团队</td>
                        {% endif %}
                        <td>{{ row.user__full_name }}</td>
                        <td>{{ row.count }}</td>
                        <td><strong>{{ row.amount }}</strong></td>
                        <td><strong>{{ row.miles }}</strong></td>
                        <td><strong>{{ row.total }}</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagination %}
    <hr><br>
    <p style="color:gray">{{ summary | length }} 统计记录</p>
    <hr><br>
{% endblock %}
