{% extends 'admin/change_list.html' %}
{% load static %}

{% block content_title %}
    <h1>工作量统计</h1>
{% endblock %}

{% block result_list %}
    <div class="results">
        <table>
            <thead>
                <tr>
                    {% for row in summary.index.names %}
                        <th>
                            <div class="text">
                                <a href="#"><strong>{{ row }}</strong></a>
                            </div>
                        </th>
                    {% endfor %}
                    {% for row in summary.columns %}
                        <th>
                            <div class="text">
                                <a href="#"><strong>{{ row }}</strong></a>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for index, row in summary.iterrows %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        {% for i in index %}
                            <td>{{ i }}</td>
                        {% endfor %}
                        {% for r in row %}
                            <td>{{ r }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagination %}
    <hr><br>
    <p style="color:gray">{{ summary | length }} 统计记录</p>
    <hr><br>
{% endblock %}
