<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>文档</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">文档
        <small>无纸化</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_document.html" %}
        <li class="breadcrumb-item active">文档</li>
    </ol>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Preview Image -->

            <h3 class="card-header">无纸化模块文档</h3>
            <hr>

            <!-- Date/Time -->
            <p>版本: 1.0, 发布日期: 2020-11-11</p>

            <hr>

            <!-- Post Content -->
            <h3 id="overview">概览</h3>
            <hr>
            <p>无纸化模块是管理系统的模块之一，主要功能是集成了电子签名的技术，能快速地创建、分发、收集、下载、统计和管理含电子签名（非必要）
                内容的文档。</p>
            <br>

            <h3 id="process">电子文档的使用流程</h3>
            <hr>
            <p>正常的使用流程是：选择模板——填写文档初始内容——分发——收集——下载保存。</p>
            <br>

            <h4 id="paperless">无纸化模板主页面</h4>
            <p>在网站主页点击无纸化模板，则会进入到无纸化模块的主页面。主页面的左侧是无纸化模块的功能导航，右侧是无纸化模块的简介。</p>
            <p><i>注：当从无纸化主页面选择任意一项无纸化的子页面时，未登录的用户将被要求登录。</i></p>
            <br>

            <h4 id="select_template">模板选择</h4>
            <p>在主页或者导航栏，点击无纸化模块选项，进入到无纸化主页面后，再选择“新建初始文档”选项，进入到模板选择页面。</p>
            <p>在模板选择页面中，页面左侧是模板的预览界面，右侧是模板的选择界面。在右侧的单选框中选择一个已经上传的空白的模板后，左侧的预览界面
            将生成该模板的预览，确定无误后，点击“确认”即可进入“填写文档初始内容”的页面。</p>
            <p><i>注：管理员账户在右侧下方有删除模板的选项，更新模板前，必须先删除模板。</i></p>
            <br>

            <h4 id="init_docx">生成文档初始内容</h4>
            <p>生成文档初始内容，是需要生成文档的用户，填写文档的初始信息（如：日期、标题等），使文档在流转时，其他用户能够以此得知并判断他们所
            签署的文档是什么文档，以及文档的具体内容是什么。</p>
            <p>除了文档内要求必须填写的信息外，生成文档的用户还需要填写两个额外的字段：一个是文档的标题，一个是文档的截止日期。</p>
            <ul>
                <li>文档标题：使用户在查找文档时能够更直观，这是一个必填且不限制格式的字段，用户能够自由输入。</li>
                <li>文档的截止日期：用于设置文档填写的截止时间。当到达或者超过截止时间时，用户将无法继续填写和提交文档。</li>
            </ul>
            <p>填写完毕并确认无误后，可以点击“确认”按钮，进入“查看文档”页面。</p>
            <br>

            <h4 id="view_docx">查看文档</h4>
            <p>该页面的左侧是文档预览界面，用于预览文档的实时填写状况。每当有新用户填写所查看的文档时，用户都能通过刷新该页面来预览到
            文档的最新填写状况。</p>
            <p><i>注：多人共同填写的文档，可预览前三个页面；单人文档，仅可预览自己填写的页面。</i></p>
            <p>右侧上栏为文档的填写栏。</p>
            <p>文档开放填写时：</p>
            <ul>
                <li>未填写文档的用户：可在右侧填写文档，填写完毕后，点击“签名”按钮可以跳转至签名页面。</li>
                <li>已填写文档但未签名的用户：右侧填写栏提示已经填写文档，可直接点击“签名”按钮可以跳转至签名页面。</li>
                <li>已填写文档和签名的用户：右侧填写栏提示已经填写和签名，“签名”按钮不可再被点击。</li>
            </ul>
            <p>文档关闭时（超过截止时间）：</p>
            <ul>
                <li>显示文档已关闭，填写栏和按钮不可再被点击。</li>
                <li>当设置了模板关闭后的确认签名字段时，管理员账户在此页面会看到签名按钮，可以为文档作最终的确认签名。</li>
            </ul>
            <p>右侧中间栏为文档的详细信息栏，显示文档的创建人、模板、文档名称、版本号、创建时间、修改时间和截止时间等。</p>
            <p>不论文档是否关闭，用户都可以点击“下载文档”按钮来下载当前文档的最后填写情况。</p>
            <p><i>注：管理员账户还可以选择”关闭文档“按钮，选择此按钮时，将设置文档关闭文件为当前点击按钮的时间，相应地，文档将变为不可填写状态</i></p>
            <p>右侧下栏为分享栏，当文档被创建时，将自动生成分享链接，用户可以使用复制按钮来快速复制分享链接并转发填写。</p>
            <br>

            <h4 id="signature">签名</h4>
            <p>从查看文档页面，点击签名按钮，将跳转到签名页面。该页面提供一个签名框，用户只需在签名框中签名，点击”确认“即可提交。</p>
            <p>用户亦可使用”重签“按钮或者”撤销“按钮来调整笔迹。</p>
            <br>

            <h4 id="view_docx_list">查看文档列表</h4>
            <p>用户可以在无纸化主页面下，点击“查看文档列表”来查看最近的文档列表。</p>
            <br>

            <h3 id="admin">管理员功能</h3>
            <hr>
            <p>仅对管理员账号开放使用的功能。</p>
            <br>

            <h4 id="upload_template">上传模板</h4>
            <p>上传模板功能可以在无纸化模块主页面选择“模板上传”选项来上传模板。</p>
            <p>上传文档页面有两个选项：</p>
            <ul>
                <li>预览文档：指在模板选择页面预览的文档。</li>
                <li>模板文档：生成文档所使用的文档，必须按一定的规则进行设置。</li>
            </ul>
            <p><i>注：预览文档和模板文档的命名必须一致，且不可与现有模板重复，否则会提示错误。</i></p>
            <p>选择完成后，点击“上传”按钮即可完成上传。</p>
            <p><i>注：模板设置必须按照一定的格式进行设置，请参考模板设置。</i></p>
            <br>

            <h4 id="template_format">模板设置格式</h4>
            <p>模板中，需要被用户填写的内容替代的部分，应先提前设置好“占位符”。</p>
            <p>占位符的格式：{{ name_at_count }}</p>
            <ul>
                <li>name：占位符字段的名字，同时是显示在填写文档时的字段名称，只能是英文格式，但可以通过模板翻译设置来翻译为中文，详情请看模板
                翻译文档。</li>
                <li>a：表示affect，作用域，可以分为：
                    <ul>
                        <li>i：表示init，初始化字段，即在初始化文档时需要填写的内容；</li>
                        <li>n：表示normal，普通填写字段，即在初始化文档后，需要分发填写的内容；
                            <p><i>注：多人填写的文档中，普通字段的at（作用域affect和类型type）仅需在最大值count的占位符中设置，其他直接
                            省略</i></p>
                        </li>
                        <li>a：表示auto，自动计算字段，生成最终文档前自动计算数量的字段；
                            <p><i>注：自动计算字段的名称应与需要计算的字段名称一致，否则无法自动计算</i></p>
                        </li>
                        <li>s：表示supervisor，监督人签署字段，生成最终文档前，监督人的签名；</li>
                    </ul>
                </li>
                <li>t：表示type，表示字段类型，影响用户输入内容的类型。如设置为数字时，用户只能输入数字。分为以下几种：
                    <ul>
                        <li>d：表示digit，数字类型；</li>
                        <li>s：表示string，文本类型；</li>
                        <li>m：表示manual，签名类型；</li>
                    </ul>
                </li>
                <li>count：最大填写数量，表示该文档单页最多供多少人填写。设置时需注意以下几个方面：
                    <ul>
                        <li>仅对作用域为n（normal）的字段设置，其他字段直接省略；</li>
                        <li>应从0开始计算（如该文档，页最多供两人填写，则设置为0和1）；</li>
                    </ul>
                </li>
            </ul>
            <br>

            <h4 id="translate_words">模板翻译</h4>
            <p>以在无纸化模块主页面选择“模板翻译”即可进入模板翻译页面。</p>
            <p>模板中的占位符名称只能设置为英文，因而模板翻译主要是对模板中的字段名进行翻译的预设。当相应的字段名设置了翻译名称后，在文档填写页面
            该字段名称会显示为翻译后的文字，相应地若未设置翻译，则显示为英文名称。因此模板翻译为使用用户提供了更友好的显示。</p>
            <p>模板翻译页面的左侧是已设置的翻译词，管理员可以将不满意的翻译词，通过点击“删除”按钮来删除。</p>
            <p>模板翻译页面的右侧是新增或修改翻译词的填写栏，上下两个填写框分别填写需翻译的词和翻译后的词。若需翻译的词不存在预设，则为新增；若
            需翻译的词已存在预设，则为修改。</p>
            <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">搜索</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索...">
                        <span class="inpug-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">快速定位</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#overview">概览</a>
                                    <ul>
                                        <a href="#paperless">无纸化模块主页</a>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#process">使用流程</a>
                                    <ul>
                                        <a href="#select_template">模板选择</a>
                                    </ul>
                                    <ul>
                                        <a href="#init_docx">生成文档初始内容</a>
                                    </ul>
                                    <ul>
                                        <a href="#view_docx">查看文档</a>
                                    </ul>
                                    <ul>
                                        <a href="#signature">签名</a>
                                    </ul>
                                    <ul>
                                        <a href="#view_docx_list">查看文档列表</a>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#process">管理员功能</a>
                                    <ul>
                                        <a href="#select_template">上传模板</a>
                                    </ul>
                                    <ul>
                                        <a href="#template_format">模板设置格式</a>
                                    </ul>
                                    <ul>
                                        <a href="#translate_words">模板翻译</a>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->


        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
