<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <title>签名</title>
    <meta name="description"
          content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="{% static 'css/signature-pad.css' %}">
    <script src="../../../../jsencrypt-master/bin/jsencrypt.js"></script>

    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ie9.css' %}">
    <![endif]-->
</head>
<body onselectstart="return false">

<div id="signature-pad" class="signature-pad">
    <div class="signature-pad--body">
        <canvas></canvas>
    </div>
    <div class="signature-pad--footer">
        <div class="description"></div>

        <div class="signature-pad--actions">
            <div>
                <button type="button" class="button clear" data-action="clear">重签</button>
<!--                <button type="button" class="button" data-action="change-color">Change color</button>-->
                <button type="button" class="button" data-action="undo">撤销</button>
            </div>
            <div>
<!--                <button type="button" class="button save" data-action="save-png">Save as PNG</button>-->
<!--                <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>-->
<!--                <button type="button" class="button save" data-action="save-svg">Save as SVG</button>-->
                <button type="button" class="button save" id="submitButton">确认</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/signature_pad.umd.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/aes.js' %}"></script>
<script src="{% static 'js/jsencrypt.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39365077-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

        var pubKey = '-----BEGIN PUBLIC KEY-----' +
'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqVgUzBeHQ/Z6TzZtmu7nfnxtx' +
'Ase4XC0vc2t2MgM7qMKUWOQHd7dJEA0+92GI16TlFgm7F2Y9pT4AXNjsd5VjYdXP' +
'leMClA9RHRTdz4t69yyTEpO2AC4w0z5a/yY2IumO/n4rANVh1xNRM6zDrQvx7HcS' +
'9xWY9g52lGf+6EBZTQIDAQAB' +
'-----END PUBLIC KEY-----'

    var encryptor = new JSEncrypt();
    encryptor.setPublicKey(pubKey);

    function randomNum(n) {
        let sString = "";
        let strings = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        for (i = 0; i < n; i++) {
            ind = Math.floor(Math.random() * strings.length);
            sString += strings.charAt(ind);
        }
        return sString;
    }

    function aesEncrypt(data, key) {
        var k = CryptoJS.enc.Utf8.parse(key);
        var d = CryptoJS.enc.Utf8.parse(data);
        var encrypted = CryptoJS.AES.encrypt(d, k, {mode: CryptoJS.mode.ECB, padding: CryptoJS.pad.Pkcs7});
        return encrypted.toString();
    }

    function getCookie(name){
        var strcookie = document.cookie;
        var arrcookie = strcookie.split("; ");
        for (var i = 0; i < arrcookie.length; i++) {
            var arr = arrcookie[i].split("=");
            if (arr[0] == name) {
                return arr[1];
            }
        }
        return "";
    }

    var submitBtn = document.getElementById("submitButton");
    submitBtn.addEventListener("click", function (event) {
        if (signaturePad.isEmpty()) {
            alert("请先签名！");
        } else {
//    var dataURL = encodeURIComponent(signaturePad.toDataURL());
            if ('{{ request.user.is_anonymous }}' == 'True' ) {
                 window.location.href = "{% url 'user:login' %}";
            }
            var docxId = '{{ docx_id }}';
            var signatureLocation = '{{ signature_location }}';
            var cxck = getCookie("csrftoken");

            var xhr = new XMLHttpRequest();
            var key = randomNum(16);
            console.log(key);
            var dataURL = aesEncrypt(encodeURIComponent(signaturePad.toDataURL()), key);
            key = encryptor.encrypt(key);
            console.log(key);
            if (docxId != "") {
                var jsonData = JSON.stringify({
                    "data": dataURL,
                    "signature_location": signatureLocation,
                    "docx_id": docxId,
                    "key": key,
                });
                xhr.open('post', '{% url "document:set_signature" %}', true);
            } else {
                var jsonData = JSON.stringify({
                    "data": dataURL,
                    "key": key,
                });
                xhr.open('post', '{% url "document:set_signature" %}', true);
            }
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader("X-CSRFToken", cxck);
            xhr.onreadystatechange = function () {  //绑定响应状态事件监听函数
                if (xhr.readyState == 4) {  //监听readyState状态
                    if (xhr.status == 200 || xhr.status == 0) {  //监听HTTP状态码
                        alert("提交成功，页面将自动跳转！");  //接收数据
                        if (docxId != "") {
                            window.location.href = "/document/view_docx/" + docxId;
                        } else {
                            window.location.href = "{% url 'user:user_setting' %}";
                        }
                    } else {
                        alert("提交失败，请重试！");
                        if (docxId != "") {
                            window.location.href = "/document/view_docx/" + docxId;
                        } else {
                            window.location.href = "{% url 'user:user_setting' %}";
                        }
                    }
                }
            }
            xhr.send(jsonData);
            alert("签名成功，请等待页面反馈！");
        }
    });


    function submit() {
        $("#submit").attr("disabled", "disabled");
    }

    $(document).ready(function () {
        var width = document.documentElement.clientWidth;
        var height = document.documentElement.clientHeight;
        if (width < height) {
            var angle = 90;
            // 改变按钮方向1
            // $('.button').css(
                // {
                //     'transform': 'rotate(' + angle + 'deg)',
                //     '-webkit-transform': 'rotate(' + angle + 'deg)',
                //     '-moz-transform': 'rotate(' + angle + 'deg)',
                // });
            // 改变按钮方向2
            $('.button').css('transform','rotate('+ angle +'deg)');
            $('.button').css('-webkit-transform','rotate('+ angle +'deg)');
            $('.button').css('-moz-transform','rotate('+ angle +'deg)');
            // 改变签字版方向
            // $("#signature-pad").addClass("wrapper-pad");
            // $("#signature-pad-footer").addClass("wrapper-footer");
            }
    });

    document.body.addEventListener('touchmove', function (e) {
        e.preventDefault(); //阻止默认的处理方式(阻止下拉滑动的效果)
    }, {passive: false}); //passive 参数不能省略，用来兼容ios和android
</script>
</body>
</html>
