<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load exam_extras %}
    {% include "head.html" %}
    <title>试卷</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">填写
        <small>试卷</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_exam.html" %}
        <li class="breadcrumb-item active">试卷</li>
    </ol>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>{{ exam.title }}</h3>
            {% include "message.html" %}
            <form name="examForm" id="examForm" action="{% url 'exam:view_exam' %}" method="post">
                {% csrf_token %}
                <div class="control-group form-group">
                    <div class="controls">
                        {% if exam_record.user %}
                            <input type="text" class="form-control" name="name" value="{{ exam_record.user }}"/>
                        {% else %}
                            <input type="text" class="form-control" name="name" value="{{ exam_record.anonymous }}"/>
                        {% endif %}
                        <p class="help-block" id="name_validate"></p>
                    </div>
                </div>
                {% for question in exam_record.question %}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>{{ question.type }}: {{ question.title }}:</label>
                            {% if question.type == 'radio' %}
                                {% for option in question.option|template_split_text %}
                                    <input type="radio" class="form-control" name="question_{{ question.id }}" value="{{ option }}" required>
                                    {% if option != answer% }
                                        <label>{{ option }}</label>
                                    {% else %}
                                        <label style="color: green">{{ option }}</label>
                                    {% endif %}
                                {% endfor %}
                            {% elif question.type == 'checkbox' %}
                                {% for option in question.option|template_split_text %}
                                    <input type="checkbox" class="form-control" name="question_{{ question.id }}" value="{{ option }}" required>
                                    <label>{{ option }}</label>
                                {% endfor %}
                            {% elif question.type == 'text' %}
                                <input type="text" class="form-control" name="question_{{ question.id }}" placeholder="请填空，多个空之间用“ ”(空格)隔开"/>
                            {% elif question.type == 'number' %}
                                <input type="number" step="0.01" class="form-control" name="question_{{ question.id }}" placeholder="请填写数字"/>
                            {% elif question.type == 'textarea' %}
                                <textarea class="form-control" name="question_{{ question.id }}" placeholder="请填写答案"></textarea>
                            {% endif %}
                            {% with question_id|question.id%}
                                {% if exam_record|template_load_json_as_dict.question_id == question.answer %}
                                    <div>你的回答：{% exam_record|template_load_json_as_dict.question_id %}，<span style="color: green"></span></div>
                                {% else %}
                                    <div>你的回答：{% exam_record|template_load_json_as_dict.question_id %}，<span style="color: red"></span></div>
                                {% endif %}
                            {% endwith %}
                            <p class="help-block" id="question_{{ question.id }}_validate"></p>
                        </div>
                    </div>
                {% endfor %}
                <input type="number" name="exam_id" value="{{ exam.id }}" hidden>
                <input type="number" name="answer_time" value="" hidden>
                <button type="submit" class="btn btn-primary" id="submit">提交</button>
            </form>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="form-floating mb-3">
                <label>您的分数：{{ exam_record.score }}</label>
                <label>总分：{{ exam_record.total_score }}</label>
                <label>及格分数：{{ exam_record.pass_score }}</label>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

<!--$.ajax({-->
<!--    // 1. 数据提交url，与form表单的action属性一致-->
<!--    url:'',-->
<!--    // 2. 指定当前请求方式-->
<!--    type: 'post',-->
<!--    // 3. 提交的数据，{1标签id:$('#1标签id').val(),2标签id:$('#2标签id').val()}-->
<!--    data: {},-->
<!--    // 4. 异步提交回调函数，data就是异步提交的返回结果，将异步回调函数的结果通过DOM操作渲染到第三个input框中：(3标签id).val(data)-->
<!--    success:function(data){-->
<!--            $(3标签id).val(data)-->
<!--        }-->
<!--    })-->

</body>

</html>
