<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>试卷列表</title>

</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">试卷
        <small>列表</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        {% include "route_exam.html" %}
        <li class="breadcrumb-item active">试卷列表</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        {% for exam in page_exam_list %}
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h3 class="card-header">{{ exam.title }}</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">试卷类型：{{ exam.course__name }}</li>
                        <li class="list-group-item">考试时长：{{ exam.time }}</li>
                        <li class="list-group-item">更新时间：{{ exam.update_datetime }}</li>
                        <li class="list-group-item">是否通过：{{ exam.is_passed }}</li>
                        <li class="list-group-item">
                            <a href="/exam/exam_paper?id={{ exam.id }}" class="btn btn-primary">进入</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}

        <!-- /.row -->
    共有{{ total_exam }}条记录
    </div>
    <!-- /.container -->

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'view_exam' %}?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">首页</span>
            </a>
        </li>
        {% with ''|center:total_page_num as range %}
            {% for _ in range %}
                <li class="page-item">
                    {% if page_num == forloop.counter %}
                        <a class="page-link" href="{% url 'view_exam' %}?page={{ page_num }}" style="pointer-events: none;cursor: default;color:gray;">{{ forloop.counter }}</a>
                    {% else %}
                        <a class="page-link" href="{% url 'view_exam' %}?page={{ page_num }}">{{ forloop.counter }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        {% endwith %}
        <li class="page-item">
            <a class="page-link" href="{% url 'view_exam' %}?page={{ total_page_num }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">尾页</span>
            </a>
        </li>
    </ul>

</div>

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
