<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% include "head.html" %}
  <title>关于</title>

</head>

<body>

  <!-- Navigation -->
  {% include "navigation.html" %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">关于
      <small>系统和团队</small>
    </h1>

    <ol class="breadcrumb">
      {% include "route.html" %}
      <li class="breadcrumb-item active">关于</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'images/about_1_700_450.jpg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>关于管理系统</h2>
        <p>管理系统是国际值机创新工作室研发的一套管理系统。</p>
        <p>目前，它集合了无纸化模块和人员管理模块，这两个模块旨在创造无纸化的办公环境和打造数据化人员管理模式。</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
<!--    <h2>关于团队</h2>-->

<!--    <div class="row">-->
<!--      <div class="col-lg-4 mb-4">-->
<!--        <div class="card h-100 text-center">-->
<!--          <img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
<!--          <div class="card-body">-->
<!--            <h4 class="card-title">刘偲翀</h4>-->
<!--            <h6 class="card-subtitle mb-2 text-muted">Team Leader</h6>-->
<!--            <p class="card-text">个人介绍</p>-->
<!--          </div>-->
<!--          <div class="card-footer">-->
<!--            <a href="#">liusichong@csair.com</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 mb-4">-->
<!--        <div class="card h-100 text-center">-->
<!--          <img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
<!--          <div class="card-body">-->
<!--            <h4 class="card-title">彭靓</h4>-->
<!--            <h6 class="card-subtitle mb-2 text-muted">首席发言人</h6>-->
<!--            <p class="card-text">个人介绍</p>-->
<!--          </div>-->
<!--          <div class="card-footer">-->
<!--            <a href="#">pengliang@csair.com</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 mb-4">-->
<!--        <div class="card h-100 text-center">-->
<!--          <img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
<!--          <div class="card-body">-->
<!--            <h4 class="card-title">耿云飞</h4>-->
<!--            <h6 class="card-subtitle mb-2 text-muted">研发人员</h6>-->
<!--            <p class="card-text">个人介绍</p>-->
<!--          </div>-->
<!--          <div class="card-footer">-->
<!--            <a href="#">gengyunfei@csair.com</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <!-- /.row -->

    <!-- Our Customers -->
<!--    <h2>其他产品</h2>-->
<!--    <div class="row">-->
<!--      <div class="col-lg-2 col-sm-4 mb-4">-->
<!--        <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--      </div>-->
<!--      <div class="col-lg-2 col-sm-4 mb-4">-->
<!--        <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--      </div>-->
<!--      <div class="col-lg-2 col-sm-4 mb-4">-->
<!--        <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--      </div>-->
<!--      <div class="col-lg-2 col-sm-4 mb-4">-->
<!--        <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--      </div>-->
<!--      <div class="col-lg-2 col-sm-4 mb-4">-->
<!--        <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--      </div>-->
<!--      <div class="col-lg-2 col-sm-4 mb-4">-->
<!--        <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--      </div>-->
<!--    </div>-->
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include "footer.html" %}

  <!-- Bootstrap core JavaScript -->
  {% include "script.html" %}

</body>

</html>
