<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>值机管理系统</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Header -->
{% include "header.html" %}

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">欢迎访问值机管理系统</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">通知公告</h4>
                <div class="card-body">
                    <p class="card-text">通知公告阅读确认、统计</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'announcement:announcement' %}" class="btn btn-primary" style="btn btn-primary">进入</a>
<!--                    <a href="javascript:return false" class="btn btn-primary" style="opacity: 0.2">敬请期待</a>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">资产管理</h4>
                <div class="card-body">
                    <p class="card-text">固定资产、流动资产管理</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'asset:asset' %}" class="btn btn-primary" style="btn btn-primary">进入</a>
<!--                    <a href="javascript:return false" class="btn btn-primary" style="opacity: 0.2">敬请期待</a>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">电子文档</h4>
                <div class="card-body">
                    <p class="card-text">电子文档查看、签名</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'document:document' %}" class="btn btn-primary" style="btn btn-primary">进入</a>
<!--                    <a href="javascript:return false" class="btn btn-primary" style="opacity: 0.2">敬请期待</a>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">在线测验</h4>
                <div class="card-body">
                    <p class="card-text">在线测验、成绩管理</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'exam:exam' %}" class="btn btn-primary" style="btn btn-primary">进入</a>
<!--                    <a href="javascript:return false" class="btn btn-primary" style="opacity: 0.2">敬请期待</a>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">绩效管理</h4>
                <div class="card-body">
                    <p class="card-text">绩效登记、审核结果查询</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'performance:performance' %}" class="btn btn-primary" style="btn btn-primary">进入</a>
<!--                    <a href="javascript:return false" class="btn btn-primary" style="opacity: 0.2">敬请期待</a>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">在线测验</h4>
                <div class="card-body">
                    <p class="card-text">在线测验、成绩管理</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'exam:exam' %}" class="btn btn-primary" style="btn btn-primary">进入</a>
<!--                    <a href="javascript:return false" class="btn btn-primary" style="opacity: 0.2">敬请期待</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->


    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>团队介绍</h2>
            <p>团队介绍</p>
            <ul>
                <li>
                    <strong>XXXX</strong>
                </li>
                <li>XXX</li>
                <li>XXX</li>
            </ul>
            <p></p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="{% static 'images/home_4_550_400.png' %}" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p style="font-size: 10px">由国际值机创新工作室研发</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="{% url 'contact' %}" style="font-size: 12px">联系我们</a>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
