{% load static %}
<!-- 引入notifications的模板标签 -->
{% load notifications_tags %}
{% notifications_unread as unread_count %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(119,136,153);">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">值机管理系统</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">业务模块</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio1">
                        <a class="dropdown-item" href="{% url 'announcement:announcement' %}">通知公告</a>
                        <a class="dropdown-item" href="{% url 'document:document' %}">电子文档</a>
                        <a class="dropdown-item" href="{% url 'exam:exam' %}">在线测验</a>
                        <a class="dropdown-item" href="{% url 'performance:performance' %}">绩效管理</a>
                        <a class="dropdown-item" href="{% url 'sale:sale' %}">销售管理</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">关于</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">联系我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bbs:bbs' %}">论坛</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback:feedback' %}">问题反馈</a>
                </li>
                {% if user.is_authenticated == True %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% if unread_count %}
                                <svg viewBox="0 0 8 8" width="8px" height="8px">
                                    <circle cx="4" cy="4" r="4" fill="#ff6b6b"></circle>
                                </svg>
                            {% endif %}
                            {% if request.user.full_name %}
                                欢迎，{{ request.user.full_name }}！
                            {% else %}
                                欢迎，匿名用户！
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio2">
                            {% if user.is_authenticated == True %}
                                <a class="dropdown-item" href="/admin">后台管理</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'notice:show_notice' %}">
                                我的消息
                                {% if unread_count %}
                                    <span class="badge badge-danger">{{ unread_count }}</span>
                                {% endif %}
                            </a>
                            <a class="dropdown-item" href="{% url 'user:user_setting' %}">个人信息</a>
                            <a class="dropdown-item" href="{% url 'user:logout' %}">登出</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:register' %}">注册</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user:login' %}">登录</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>