<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>重置密码</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">重置
        <small>密码</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        <li class="breadcrumb-item active">重置密码</li>
    </ol>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>重置密码</h3>
            <div>{{ msg }}</div>
            <form name="loginForm" id="loginForm" action="{% url 'send_reset_password_email' %}" method="post">
                {% csrf_token %}
                <div class="control-group form-group">
                    <div class="controls">
                        <label>用户名:</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名"
                               required data-validation-required-message="Please enter your name.">
                        <p class="help-block" id="username_validate"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>邮箱地址:</label>
                        <input type="email" class="form-control" id="email_address" name="email_address" placeholder="请输入邮箱地址"
                               required data-validation-required-message="Please enter email address.">
                        <p class="help-block" id="email_address_validate"></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="submit" onclick="submit()">发送验证邮件</button>
            </form>
        </div>
        <div class="col-lg-4 mb-4">
            <h3>Tips</h3>
            {% include "login_register_tips.html" %}
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}
<script>
$(document).ready(function(){
    $(function(){
        $("#submit").click(function(event){
            var username = $('#username').val();
            var username_validate = $('#username_validate').text();
            var email_address = $('#email_address').val();
            var email_address_validate = $('#email_address_validate').text();
            if(username == "" || email_address == ""){
                event.preventDefault();
                alert("输入不能为空！")
            } else if(username_validate != "" || email_address_validate != ""){
                event.preventDefault();
                alert("输入有误，请检查！")
            };
        });
    });
});
</script>
</body>

</html>
