<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>重置密码方式选择</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">重置密码
        <small>方式选择</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        <li class="breadcrumb-item active">重置密码方式选择</li>
    </ol>

    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a href="/pre_reset_password_by_question" aria-expanded="true">密保问题验证</a>
                </h5>
            </div>
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a href="/pre_reset_password_by_email" aria-expanded="true" style="pointer-events: none;cursor: default;color:gray;">邮箱验证</a>
                </h5>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
