<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>重置密码</title>
</head>

<body>

<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">重置
        <small>密码</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        <li class="breadcrumb-item active">重置密码</li>
    </ol>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>重置密码</h3>
            <div>{{ msg }}</div>
            <form name="loginForm" id="loginForm" action="{% url 'check_reset_password_question' %}" method="post">
                {% csrf_token %}
                <select class="form-control" id="question_id" name="question_id">
                    <option value="">密保问题</option>
                    {% for question in question_list %}
                        <option value="{{ question.id }}">{{ question.question }}</option>
                    {% endfor %}
                </select>
                <p class="help-block" id="question_id_validate"></p>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>您的回答:</label>
                        <input type="text" class="form-control" id="answer" name="answer" placeholder="请输入回答"
                               required data-validation-required-message="Please enter your answer."
                               style="-webkit-text-security:disc;text-security:disc;">
                        <p class="help-block" id="answer_validate"></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="submit" onclick="submit()">确认</button>
            </form>
        </div>
        <div class="col-lg-4 mb-4">
            <h3>Tips</h3>
            {% include "login_register_tips.html" %}
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}
<script>
$(document).ready(function(){
    $(function(){
        $("#submit").click(function(event){
            var answer = $('#answer').val();
            var question_id = $('#question_id').val();
            var answer_validate = $('#answer_validate').text();
            var question_id_validate = $('#question_id_validate').text();
            if(answer == "" || question_id == ""){
                event.preventDefault();
                alert("输入不能为空！")
            };
        });
    });
});
</script>
</body>

</html>
