<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "head.html" %}
    <title>个人设置</title>
</head>

<body>
<!-- Navigation -->
{% include "navigation.html" %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">个人
        <small>设置</small>
    </h1>

    <ol class="breadcrumb">
        {% include "route.html" %}
        <li class="breadcrumb-item active">个人设置</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <a href="/user_setting" class="list-group-item active">用户设置</a>
                <a href="/change_password" class="list-group-item">修改密码</a>
                <a href="/set_question_verify" class="list-group-item">设置密保问题</a>
                <a href="/set_email_verify" class="list-group-item" style="pointer-events: none;cursor: default;color:gray;">设置邮箱</a>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <div>{{ msg }}</div>
            <h2>个人信息</h2>
            <hr>
            <p><b>用户名：</b>{{ request.user.username }}</p>
            <p><b>姓名：</b>{{ request.user.get_full_name }}</p>
            <p><b>邮箱：</b>{{ request.user.email }}</p>
            <p><b>团队：</b>{{ request.user.team.name }}</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
{% include "footer.html" %}

<!-- Bootstrap core JavaScript -->
{% include "script.html" %}

</body>

</html>
